* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: flex;
}

body {
    font-family: "Poppins", sans-serif;
}

.alentour {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    background: rgba(255, 255, 255, 0.4);
}

.nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(rgba(39, 39, 39, 0.6), transparent);

}

.nav-logo p {
    color: white;
    font-size: 25px;
    font-weight: 600;
}

.nav-menu ul {
    display: flex;
}

.nav-menu ul li {
    list-style-type: none;
}

.nav-menu ul li .lien {
    text-decoration: none;
    font-weight: 500;
    color: white;
    padding-bottom: 15px;
    margin: 0 25px;
}

.lien:hover,
.active {
    border-bottom: 2px solid white;
}

.section__container {
    margin: auto;
    padding: 5rem 1rem;
}

.section__header {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

.populaire__grid {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.populaire__card {
    overflow: hidden;
    border-radius: 1rem;
    transform: ease-in-out;
    transition: 0.5s;
}
.populaire__card:hover{
    box-shadow: 2px 5px rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
}

.populaire__content {
    padding: 1rem;
}

.populaire__card__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 0.5rem;
}

.populaire__card__header h4 {
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
}

.populaire__content p {
    color: gray;
}

.booking__container {
    background-color: rgba(128, 128, 128, 0.12);
}

.booking__container form h2{
    padding-bottom: 3%;
}

.booking__container form {
    margin-top: 2%;
    display: grid;
    text-align: center;
    margin-bottom: 2%;
}

.booking__container .input__content {
    width: 100%;
}

.booking__container .form__group {
    display: flex;
    align-items: center;
    
}

.booking__container .input__group {
    width: 100%;
    position: relative;
}

.booking__container input {
    background-color: gray;
    width: 60%;
    padding: 10px 0;
    font-size: 1rem;
    color: black;
    text-align: center;
    border-radius: 100px;

}


.booking__container .form__group p {
    margin-top: 0.5rem;
    font-size: 0.8rem;
}

.booking__container .btn {
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 100px;
    width: 60%;
    padding: 10px 0;
    margin-left: 20%;
}

.booking__container .btn:hover{
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 100px;
    background-color: rgba(128, 128, 128, 0.169);
    width: 60%;
    padding: 10px 0;
    margin-left: 20%;


}